<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interclan Competition Website</title>
  </head>
  <body
    class="bg-gradient-to-r from-indigo-900 via-purple-900 to-pink-900 text-white text-center"
  >
    <div>
      <h1 class="text-5xl font-bold p-20">
        Innovation In Education In General
      </h1>
      <p class="text-xl font-serif px-40">
        Innovation in education marks a transformative shift, reshaping
        traditional methods and introducing dynamic approaches to learning. The
        integration of cutting-edge technologies, such as virtual classrooms and
        interactive online platforms, has revolutionized the educational
        landscape. Beyond conventional memorization, emphasis is placed on
        fostering critical thinking and problem-solving skills. Student-centered
        approaches, collaborative projects, and personalized learning
        experiences are becoming the norm, preparing learners for the challenges
        of an ever-evolving world. This shift towards innovation not only
        engages students actively in their education but equips them with the
        adaptability and creativity crucial for success in the complex and
        interconnected realities of the 21st century.<br /><br />
         The greatest innovation in education occured during the lockdown in
        which schools and governments collaboratively used online platforms such
        as Zoom and Microsoft Teams to host online classes and meetings to
        continue the education of the youth and crucial governmental meetings
        with no stoppages or interruptions.
      </p>
    </div>
    <div class="flex justify-center items-center pt-12">
      <img
        src="https://toronto.northeastern.edu/wp-content/uploads/sites/4/2017/10/AdobeStock_138972497.jpeg"
        alt="img"
        width="450"
        height="450"
      />
    </div>
  </body>
</html>
